body {
    background-color: #fff;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
}

html {
    background-color: #fff;
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body, button, input, optgroup, select, textarea, column, p {
    font-family: 'Whyte';
    src: local('Whyte Book'), local('Whyte-Book'), url(https://uploads-ssl.webflow.com/62bb0e1…/62bb0e1…_ABCWhyte-Book.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

h2 {
    margin: 0;
    padding: 0;
}

.bold-text {
    color: #000000;
}

.textarea:not([rows]) {
    max-height: 40em;
    min-height: 8em
}

.input:hover, .is-hovered.input, .is-hovered.textarea, .select select.is-hovered, .select select:hover, .textarea:hover {
    border-color: #b5b5b5
}

.textarea {
    display: block;
    max-width: 100%;
    min-width: 100%;
    padding: calc(.75em - 1px);
    resize: vertical
}

.input, .textarea {
    box-shadow: inset 0 .0625em .125em rgba(10,10,10,.05);
    max-width: 100%;
    width: 100%
}

.input, .select select, .textarea {
    background-color: #fff;
    border-color: #dbdbdb;
    border-radius: 4px;
    color: #363636
}

.is-pulled-right {
    float: right !important;
}

.button, .file-cta, .file-name, .input, .pagination-ellipsis, .pagination-link, .pagination-next, .pagination-previous, .select select, .textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 2.5em;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(0.5em - 1px);
    padding-left: calc(0.75em - 1px);
    padding-right: calc(0.75em - 1px);
    padding-top: calc(0.5em - 1px);
    position: relative;
    vertical-align: top;
}

textarea {
    writing-mode: horizontal-tb !important;
    font-family: monospace;
    text-rendering: auto;
    color: #000;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    resize: auto;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    background-color: field;
    column-count: initial !important;
    margin: 0em;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding: 2px;
}

.control {
    box-sizing: border-box;
    clear: both;
    font-size: 1rem;
    position: relative;
    text-align: inherit;
}

*, ::after, ::before {
    ;
    box-sizing: inherit;
}

.button {
    background-color: #fff;
    border-color: #dbdbdb;
    border-width: 1px;
    color: #363636;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(0.5em - 1px);
    text-align: center;
    white-space: nowrap;
}

.button.is-black {
    background-color: #0a0a0a;
    border-color: transparent;
    color: #fff;
    }

.breadcrumb, .button, .file, .is-unselectable, .pagination-ellipsis, .pagination-link, .pagination-next, .pagination-previous, .tabs {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button {
    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

.p-3 {
    padding: 0.75rem !important;
}

.mt-6 {
    margin-top: 3rem !important;
}

.has-background-white {
    background-color: #fff !important;
}

container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
}

div {
    display: block;
}

.columns.is-mobile {
    display: flex;
}

.has-text-black {
    color: #0a0a0a !important;
}

.section {
    padding: 3rem 1.5rem;
}

form {
    display: block;
    margin-top: 0em;
}

article, aside, figure, footer, header, hgroup, section {
    display: block;
}

button, input, select, textarea {
    margin: 0
}

blockquote, body, dd, dl, dt, fieldset, figure, h1, h3, h4, h5, h6, hr, html, iframe, legend, li, ol, p, pre, textarea, ul {
    margin: 0;
    padding: 0;
}

.control {
    box-sizing: border-box;
    clear: both;
    font-size: 1rem;
    position: relative;
    text-align: inherit;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.button {
    background-color: #fff;
    border-color: #dbdbdb;
    border-width: 1px;
    color: #363636;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(0.5em - 1px);
    text-align: center;
    white-space: nowrap;
}

    .button.is-black {
        background-color: #0a0a0a;
        border-color: transparent;
        color: #fff;
    }

.breadcrumb, .button, .file, .is-unselectable, .pagination-ellipsis, .pagination-link, .pagination-next, .pagination-previous, .tabs {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.p-3 {
    padding: 0.75rem !important;
}

.mt-6 {
    margin-top: 3rem !important;
}

.has-background-white {
    background-color: #fff !important;
}

container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
}

div {
    display: block;
}

.columns.is-mobile {
    display: flex;
}

.columns:not(:last-child) {
    margin-bottom: calc(1.5rem - 0.75rem);
}

.has-text-black {
    color: #0a0a0a !important;
}

.section {
    padding: 3rem 1.5rem;
}

form {
    display: block;
    margin-top: 0em;
}

.field:not(:last-child) {
    margin-bottom: 0.75rem;
}

article, aside, figure, footer, header, hgroup, section {
    display: block;
}

main {
    display: block;
    margin: 1px;
    font-family: 'CustomFont', Whyte Book, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    text-align: left;
}
